<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Thư viện đề thi</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adexam.css">
</head>

<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1" style="background-color: #002f69">
        <a class="navbar-brand" href="#"><b>Gia Dinh University</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto" style="position: absolute;left: 50%;">
                <li class="nav-item active">

                    <a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="/img/andanh.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--/.Navbar -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đề thi</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col">
                <div>
                    <h3 class="text-center">Danh sách đề</h3>
                </div>
                <div class="table-responsive">
                    <table class="table fixed_header">
                        <thead>
                            <tr>
                                <th>Mã đề</th>
                                <th>Môn</th>
                                <th>Thời gian</th>
                                <th>Học kỳ</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Chỉnh sửa</th>
                            </tr>
                        </thead>
                        <tbody id="noiDung">

                        </tbody>
                    </table>
                </div><button class="btn btn-primary btn-lg btnThemDe" id="btnCreateExam" type="button">Tạo đề
                    thi</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="idListExam" value="<%=examList%>">
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        btnCreateExam.onclick = () => {
            document.location.href = "/admin/createExam";
        }
        var examList = JSON.parse(idListExam.value);
        var html = "";
        examList.forEach(content => {

            html += `<tr>
                                <td>${content.exam_code}</td>
                                <td>${content.subject}</td>
                                <td>${content.time}</td>
                                <td>${content.semester}</td>
                                <td>${content.date_created}</td>
                                <td>${content.status}</td>
                                <td><button class="btn btn-primary btn-lg btnThemDe" onclick="buttonEdit('${content.exam_code}')" type="button">+</button></td>
                            </tr>`

        });
        noiDung.innerHTML = html;
    
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150192457-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150192457-1');


        function buttonEdit(examCode) {
            localStorage.setItem("examCode", examCode);
            document.location.href = "/admin/addClassToExam";
        }
    </script>

</body>

</html>