<!doctype html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1" style="background-color: #002f69">
        <a class="navbar-brand" href="#"><b>Gia Dinh University</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto" style="position: absolute;left: 50%;">
                <li class="nav-item active">

                    <a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="/img/andanh.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container">
        <button type="button" id="btnDSFaculty" class="btn btn-primary">Danh sách khoa</button>
        <button type="button" id="btnDSMajor" class="btn btn-primary">Danh sách chuyên ngành</button>
        <button type="button" id="btnDSClass" class="btn btn-primary">Danh sách lớp học</button>
        <button type="button" id="btnDSSubject" class="btn btn-primary">Danh sách môn học</button>
        <button type="button" id="btnDSCauHoi" class="btn btn-primary">Danh sách câu hỏi</button>
        <button type="button" id="btnDSDeThi" class="btn btn-primary">Danh sách đề thi</button>
        <button type="button" id="btnDSUsers" class="btn btn-primary">Danh sách sinh viên</button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/business/dataForAdmin.js"></script> -->
    <script>
        btnDSDeThi.onclick = () => {
            document.location.href = "/admin/exam";
        }

        btnDSCauHoi.onclick = () => {
            document.location.href = "/admin/question";
        }

        btnDSUsers.onclick = () => {
            document.location.href = "/admin/users";
        }

        btnDSClass.onclick = () => {
            document.location.href = "/admin/class";
        }

        btnDSFaculty.onclick = () => {
            document.location.href = "/admin/faculty";
        }

        btnDSMajor.onclick = () => {
            document.location.href = "/admin/major";
        }

        btnDSSubject.onclick = () => {
            document.location.href = "/admin/subject";
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150192457-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-150192457-1');
    </script>

</body>

</html>