<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dsCauHoi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adquestion.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Gia Dinh University</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Logot</a></div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h3 class="text-center">Danh sách câu hỏi</h3>
                </div>
                <div class="table-responsive">
                    <table class="table fixed_header">
                        <thead>
                            <tr>
                                <th colspan="2">Câu hỏi</th>
                                <th>Câu trả lời 1</th>
                                <th>Câu trả lời 2</th>
                                <th>Câu trả lời 3</th>
                                <th>Câu trả lời 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="scroll">Để cài đặt thêm các bộ Font trong môi trường Windows, ta dùng chức năng:</td>
                                <td>Desktop của Control Panel</td>
                                <td>System của Control Panel</td>
                                <td>Regional Settings của Control Panel</td>
                                <td>Fonts của Control Panel</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="scroll">Để cài đặt thêm các bộ Font trong môi trường Windows, ta dùng chức năng:</td>
                                <td>Desktop của Control Panel</td>
                                <td>System của Control Panel</td>
                                <td>Regional Settings của Control Panel</td>
                                <td>Fonts của Control Panel</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="scroll">Để cài đặt thêm các bộ Font trong môi trường Windows, ta dùng chức năng:</td>
                                <td>Desktop của Control Panel</td>
                                <td>System của Control Panel</td>
                                <td>Regional Settings của Control Panel</td>
                                <td>Fonts của Control Panel</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="scroll">Để cài đặt thêm các bộ Font trong môi trường Windows, ta dùng chức năng:</td>
                                <td>Desktop của Control Panel</td>
                                <td>System của Control Panel</td>
                                <td>Regional Settings của Control Panel</td>
                                <td>Fonts của Control Panel</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="scroll">Để cài đặt thêm các bộ Font trong môi trường Windows, ta dùng chức năng:</td>
                                <td>Desktop của Control Panel</td>
                                <td>System của Control Panel</td>
                                <td>Regional Settings của Control Panel</td>
                                <td>Fonts của Control Panel</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="scroll">Để cài đặt thêm các bộ Font trong môi trường Windows, ta dùng chức năng:</td>
                                <td>Desktop của Control Panel</td>
                                <td>System của Control Panel</td>
                                <td>Regional Settings của Control Panel</td>
                                <td>Fonts của Control Panel</td>
                            </tr>
                        </tbody>
                    </table>
                </div><button class="btn btn-primary btn-lg btnThemDe" id="btnQuestionPage" type="button">Tạo câu hỏi</button></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script>
    btnQuestionPage.onclick = () =>{
        document.location.href = "/admin/createQuestion";
    }
    </script>
</body>

</html>