<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dsCauHoi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adquestion.css">
</head>

<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1" style="background-color: #002f69">
        <a class="navbar-brand" href="#"><b>Gia Dinh University</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto" style="position: absolute;left: 50%;">
                <li class="nav-item active">

                    <a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="" id="imageid" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Câu hỏi</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col">
                <div>
                    <h3 class="text-center">Danh sách câu hỏi</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <form style="margin-top: 8px;">
                            <div class="field"><select class="form-control"
                                    style="border: none;border-bottom: 1px solid #757575;" id="mySelect"
                                    onchange="chooseSubject()">
                                    <optgroup label="Chọn môn học">
                                        <option value="Tin học văn phòng" selected>Tin học văn phòng</option>
                                        <option value="Tiếng anh">Tiếng anh</option>
                                        <option value="Toán cao cấp">Toán cao cấp</option>
                                    </optgroup>
                                </select></div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table fixed_header">
                        <thead>
                            <tr>
                                <th colspan="2">Câu hỏi</th>
                                <th>Câu trả lời 1</th>
                                <th>Câu trả lời 2</th>
                                <th>Câu trả lời 3</th>
                                <th>Câu trả lời 4</th>
                            </tr>
                        </thead>
                        <tbody id="noiDung">
                            

                        </tbody>
                    </table>
                </div><button class="btn btn-primary btn-lg btnThemDe" id="btnQuestionPage" type="button">Tạo câu
                    hỏi</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="/business/admin.js"></script>
    <script src="/business/dataForAdmin.js"></script>
    <script>
        chooseSubject();
        function chooseSubject() {
            var htmlListQuestion = "";
            var subject = document.getElementById("mySelect").value;
            questionListOfData.forEach(data => {
                data.question_list.forEach(content => {
                    if (data.subject == subject) {
                        htmlListQuestion += `<tr>
                                <td colspan="2" class="scroll">${content.question}</td>
                                
                                `
                        content.answer_list.forEach(answer => {
                            htmlListQuestion += `<td>${answer}</td>`
                        })
                        htmlListQuestion += `</tr>`;
                        console.log(data)
                    }
                })
            })
            noiDung.innerHTML = htmlListQuestion;
        }
       
        btnQuestionPage.onclick = () => {
            document.location.href = "/admin/createQuestion";
        }
        if (imageExists(`/img/<%= user.student_code %>.jpg`) == false) {
            document.getElementById("imageid").src = "/img/andanh.png";
        }
    </script>
</body>

</html>